/web-app

# IDE support files
/.classpath
/.project
/.settings
/*.launch

# logs
*.log

# plugin release file
/grails-opencmis-*.zip
/grails-opencmis-*.zip.sha1

# "temporary" build files
/target

# other
*.iws
.DS_Store
