<plugin name='opencmis' version='0.10.0-SNAPSHOT' grailsVersion='2.0.0 &gt; *'>
  <author>Ludovik Lacroix</author>
  <authorEmail>ludovik@lacroix.in</authorEmail>
  <title>OpenCMIS SDK Plugin</title>
  <description>The OpenCMIS plugin allows your grails application to use
open binding services with content repositories like Apache
InMemoryRepository and Alfresco Cloud network.
It provides wrappers services around Apache Chemistry API for Java. Using the API, developers
can build content centric solutions.
</description>
  <documentation>https://github.com/webvibes/grails-opencmis/blob/master/README.md</documentation>
  <type>OpencmisGrailsPlugin</type>
  <resources>
    <resource>grails.plugin.opencmis.ConnectionController</resource>
    <resource>grails.plugin.opencmis.CmisAuthenticationProviderService</resource>
    <resource>grails.plugin.opencmis.CmisConnectorService</resource>
    <resource>grails.plugin.opencmis.CmisDocumentHelperService</resource>
    <resource>grails.plugin.opencmis.CmisFolderHelperService</resource>
    <resource>grails.plugin.opencmis.CmisQueryHelperService</resource>
    <resource>grails.plugin.opencmis.CmisRepositoryHelperService</resource>
  </resources>
</plugin>